<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Filmes por título geral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item >
      <ion-label position="floating">Buscar filme por título geral</ion-label>
      <ion-input #filmes (change)="obterFilmeGeral(filmes)" type="text" placeholder="ex: fast"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <div *ngFor="let fil of filme">
    <ion-card >
      <ion-card-header>
        <img [src]="fil.Poster" />
        <ion-card-title>{{fil.Title}}</ion-card-title>
        <ion-card-subtitle>{{fil.Type}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{fil.Year}}
      </ion-card-content>
      <ion-item>
        <ion-button (click)="favoritar(fil)">Favoritar</ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

