<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [hidden]="favoritos.length === 0" *ngFor="let favorito of favoritos">
    <ion-card >
      <ion-card-header>
        <img [src]="favorito.Poster" />
        <ion-card-title>{{favorito.Title}}</ion-card-title>
        <ion-card-subtitle>{{favorito.Type}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{favorito.Year}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
